@font-face {
    font-family: 'GreatVibes';
    src: url(/fonts/GreatVibes-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Niconne';
    src: url(/fonts/Niconne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlaypenSans';
    src: url(/fonts/PlaypenSans-VariableFont-wght.ttf);
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}

html, body {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #f8bfe7;
    background-image: url(/imagenes/fondo_rosa.jpeg);
}

.container {
    position: relative; /* Necesario para que el tooltip se posicione correctamente */
}

body {
    overflow-y: scroll; /* Permite el desplazamiento vertical */    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    height: 100vh;         
}

.centra{
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
    font-family: 'GreatVibes';        
    font-weight: 400;   
}

.fullscreen-section {
    position: relative;
    width: 100%;    
}

.caja_secciones{
    border-color: rgba(196, 39, 143, 0.733);
    border-width: 10px;
    border-style: double;    
    padding-top: 3%;
    padding-bottom: 5%;
}

#section_presentacion{
    height: 50vh;
    margin-top: 1px;
}

#audio-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    /* left: 6%;
    top: 105%; */
    /*Ubicarcion de boton play en la imagen de presentacion*/
    left: 4%;
    top: 77%;
}

#audio-container > div:nth-last-child(1) {
    position: relative;
    top: 37px;
    right: 42%;
    font-size: 14px;
}

#audio-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#play-pause-text {
    margin-left: 6px;
    font-size: 25px;
    color: #e71de7fa;
    font-family: Arial, Helvetica, sans-serif;
}

#pause {
    width: 27px;
    height: 27px;
}

.presentacion-imagen img {    
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
}

.text-float{
    position: absolute;
}

.presentacion_texto{
    top: 35px;    
    font-size: 45px;
    left: 50px;
    font-family: 'PlaypenSans';
    color: #802359;
    font-weight: 600;
    max-width: 300px;
}

.centrar_elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centrar_elementos > div:first-child{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    /* width: 100px;   */
}

#section-fecha-evento .centrar_elementos > table{
    color: #a10967;
    width: 100%;
    line-height: 3em;
    margin-top: 20px;    
}

.pregunta {
    font-size: 40px;
    font-weight: 600;
}

.respuesta {
    font-size: 35px;
    color: #cc279a;
    font-weight: 600;
}

.mensaje_regresiva{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #99117c;
    text-shadow: rgb(221, 82, 179) 1px 0 10px
}

.cuenta-atras{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cuenta-atras > div{
    line-height: 1;
}

#cuenta-atras > div > p:nth-child(1){
    font-size: 35px;
    color: #bb29a9e3;
}

#cuenta-atras > div > p:nth-child(2){
    font-size: 15px;
    font-weight: 600;
    color: #b9126f;
}


.titulo_tarjeta{
    font-family: 'Niconne';
    font-size: 45px;
    color: #99117c;
    text-shadow: rgb(221, 82, 179) 1px 0 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.image-container .image {
    height: 250px;
    width: 250px;
    border: 8px solid #d85eaf;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    border-radius: 12px;
}

.image-container .image:hover img {
    transform: scale(1.1);
}

.popup-image {
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 7px solid #fff;
    width: 350px;
    object-fit: cover;
    border-radius: 15px;
}

#section-momentos .centrar_elementos div:nth-child(3) {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


@media (min-width: 768px){
    .centra{
        margin-left: 40px;
        margin-right: 40px;
    }

    #section_presentacion, .presentacion-imagen img {
        height: 55vh;
    }

    .mensaje_regresiva{
        font-size: 50px;
    }

    .titulo_tarjeta{
        font-size: 50px;
    }

    #section-fecha-evento .centrar_elementos > div:nth-child(3) {
        font-size: 62px;
    }

    .presentacion_texto{
        font-size: 50px;
        top: 20px;
        left: 105px;
        max-width: 600px;
    }

    #cuenta-atras > div > p:nth-child(1) {
        font-size: 40px;
    }

    #cuenta-atras > div > p:nth-child(2) {
        font-size: 20px;
    }
    
    .popup-image span {
        right: 30px;
        font-size: 65px;
    }

    .popup-image img {
        width: 500px;                
    }

    #section-momentos .centrar_elementos div:nth-child(3) {
        font-size: 17px;   
    }

    #audio-container {
        left: 8%;
        top: 78%;
    }
    
    #audio-container > div:nth-last-child(1) {
        top: 37px;
        right: 42%;
        font-size: 14px;
    }
       
    #play-pause-text {
        font-size: 25px;
    }
    
    #pause {
        width: 32px;
        height: 32px;
    }
    
    .image-redim img {
        width: 380px;
    }

    .invitacion_video video {
        width: 450px;
    }
}

@media (min-width: 1024px){
    .centra{
        margin-left: 65px;
        margin-right: 65px;
    }

    #section_presentacion, .presentacion-imagen img {
        height: 70vh;
    }

    .mensaje_regresiva{
        font-size: 60px;
    }

    .titulo_tarjeta{
        font-size: 62px;
    }

    #section-fecha-evento .centrar_elementos > div:nth-child(3) {
        font-size: 70px;
    }

    .presentacion_texto{
        font-size: 64px;
        top: 45px;
        left: 119px;
        max-width: 100%;
    }

    #cuenta-atras > div > p:nth-child(1) {
        font-size: 50px;
    }

    #cuenta-atras > div > p:nth-child(2) {
        font-size: 25px;
    }

    .popup-image span {
        right: 36px;
        font-size: 75px;
    }

    .popup-image img {
        width: 640px;
    }

    #section-momentos .centrar_elementos div:nth-child(3) {
        font-size: 20px;   
    }

    #audio-container {
        left: 10%;
        top: 80%;
    }
    
    #audio-container > div:nth-last-child(1) {
        font-size: 17px;
    }
       
    #play-pause-text {
        font-size: 28px;
    }
    
    #pause {
        width: 35px;
        height: 35px;
    }

    .image-redim img {
        width: 400px;
    }

}
